/* hero section */
.main-img {
    position: relative;
    height: 500px;
    /* Adjust height or let content define it */
    overflow: hidden;
    /* Prevent background image from overflowing */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-img::before {
    content: "";
    position: absolute;
    background-image: url("/static/images/img1.jpg");
    opacity: 0.9;
    height: 500px;
    /* Add height to see the background image */
    width: 100%;
    /* You can adjust the width as needed */
    background-size: cover;
    /* Ensure the image covers the div */
    background-position: center center;
    /* Center the image */

    z-index: -1;


}

/* about containers */
.info {
    border: 1px solid black;
    border-radius: 10px;


}

.pic1 {
    background-image: url("/static/images/a9da52b0856abc9aaac719b8f76466ca.jpg");
    width: 60%;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    background-size: cover;
    background-position: center center;


}

.insider>p {
    text-align: justify !important;
}