.pic1{
    background-image: url("/static/images/long.jpg");
    height:320px;
    /* Add height to see the background image */
    width: 100%;
    /* You can adjust the width as needed */
    background-size:cover;
    /* Ensure the image covers the div */
    background-position: center center;
    /* Center the image */
    
    border: 1px solid black;
    border-radius: 12px;
}

.pic2{
    background-image: url("/static/images/lake.jpg");
    height:150px;
    /* Add height to see the background image */
    width: 100%;
    /* You can adjust the width as needed */
    background-size:cover;
    /* Ensure the image covers the div */
    background-position: center center;
    /* Center the image */
   
    border: 1px solid black;
    border-radius: 12px;
}
.pic3{
    background-image: url("/static/images/ring.jpg");
    height:150px;
    /* Add height to see the background image */
    width: 100%;
    /* You can adjust the width as needed */
    background-size:cover;
    /* Ensure the image covers the div */
    background-position: center center;
    /* Center the image */
   
    border: 1px solid black;
    border-radius: 12px;
}

.pic4{
    background-image: url("/static/images/resort.jpg");
    
    /* Add height to see the background image */
    width: 100%;
    /* You can adjust the width as needed */
    background-size:cover;
    /* Ensure the image covers the div */
    background-position: center center;
    /* Center the image */
    height:320px;
    border: 1px solid black;
    border-radius: 12px;
    
}

/* email section */

#exampleInputEmail1 {
    background-color: rgba(255, 0, 0, 0) !important;
    border: 1px solid black !important; /* Solid black border */
    box-shadow: none !important; /* Remove the default Bootstrap shadow */
   
  }

  .btn{
    background-color: #F01111 !important;
    
    
}
.btn:hover{
    background-color: rgba(255, 0, 0, 0.7) !important;
    transition: background-color 0.5s ease;
}