/* Modify the background color */
body {
    background-color: rgba(255, 0, 0, 0.1) !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    
}


.navbar {
    background-color: #F01111 !important;
    padding: 20px !important;

}

.nav-item:hover {
    text-decoration: underline;
}

.navbar-text,
.navbar-brand,
.nav-link {
    color: #FFFFFF !important;
    text-decoration: none !important;


}




/* Hover effect on nav-link in Bootstrap */
/* Hover effect for nav-link */
.navbar-nav .nav-link:hover {

    /* Change hover color */
    transform: translateY(-8px);
    text-decoration: underline !important;

}

/* Smooth transition effect for both hover and active states */
.navbar-nav .nav-link {
    transition: transform 0.3s ease;
    text-decoration: none;
    /* Smooth transition */
}

/* Add underline to the active page link */
.navbar-nav  {
    transform: translateY(-8px);
    /* Keeps the active link elevated */
    /* Makes the active link bold */
  
}


.footer{
    height: 200px;
    background-color: #F01111 !important;
    color: #FFFFFF;
    
}

.content{
    justify-content:space-between!important;
    color: #FFFFFF;
}