.home-page{
    
    margin-top: 20px;
   margin-top: 20px;
}
.home-page>h3{
    color: red !important;
    text-align: center;
}
.home-page>p{
    text-align: center;
    padding: 20px;
}
.edge{
    display: flex;
    justify-content: center;
}