.home-page {

    margin-top: 20px;
}

.hdng {
    color: #F01111 !important;
    text-align: center;
    font-weight: bold;
}
.container>p{
    text-align: center !important;
    margin: 30px;
}


h2 {
    color: #F01111 !important;
}

.chrome-btn {
    background-color: #F01111;
    
    border-radius: 12px;
    /* Slight rounding of the corners */
    padding: 10px 20px;
    /* Space inside the button */
    display: flex;
    /* Aligns text and icon horizontally */
    align-items: center;
    /* Centers the icon and text vertically */
    gap: 10px;
    /* Space between the icon and text */
    font-family: Arial, sans-serif;
    /* Font for button text */
    cursor: pointer;
    /* Pointer cursor on hover */
    color: #FFFFFF;
    border: none;
    transition: background-color 0.5s ease;
}

.chrome-btn:hover {
    background-color: rgba(255, 0, 0, 0.7) !important;

}


.edge-btn {


    border-radius: 15px;
    border: 1px solid black;
    cursor: pointer;

}
.inside{
    
    gap: 15px;
    display: flex; 
   
}


.edge {
    display: flex;
    justify-content: center;
}

.main-img {
    position: relative;
    height: 500px; /* Adjust height or let content define it */
    overflow: hidden; /* Prevent background image from overflowing */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-img::before {
    content: "";
   position: absolute;
    background-image: url("/static/images/img1.jpg");
    opacity: 0.9;
    height: 500px;
    /* Add height to see the background image */
    width: 100%;
    /* You can adjust the width as needed */
    background-size: cover;
    /* Ensure the image covers the div */
    background-position: center center;
    /* Center the image */
    
    z-index: -1;
   

}

.p-4>button{
    background-color: #F01111;
    border-radius: 12px;
   
    padding: 10px;
    width: 30%;
    text-align: center;
    justify-content: center;
    /* Space inside the button */
    display: flex;
    /* Aligns text and icon horizontally */
    
    /* Centers the icon and text vertically */
    gap: 20px;
    /* Space between the icon and text */
    font-family: Arial, sans-serif;
    font-size: small;
    /* Font for button text */
    cursor: pointer;
    /* Pointer cursor on hover */
    color: #FFFFFF;
    border: 1px solid #ccc;
    transition: background-color 0.5s ease;
}
.p-4>button:hover {
    background-color: rgba(255, 0, 0, 0.7) !important;

}
.pic1{
    background-image: url("/static/images/long.jpg");
    height:320px;
    /* Add height to see the background image */
    width: 100%;
    /* You can adjust the width as needed */
    background-size:cover;
    /* Ensure the image covers the div */
    background-position: center center;
    /* Center the image */
    
    border: 1px solid black;
    border-radius: 12px;
}
.b{
    height:max-content
}
.pic2{
    background-image: url("/static/images/lake.jpg");
    height:150px;
    /* Add height to see the background image */
    width: 100%;
    /* You can adjust the width as needed */
    background-size:cover;
    /* Ensure the image covers the div */
    background-position: center center;
    /* Center the image */
   
    border: 1px solid black;
    border-radius: 12px;
}
.pic3{
    background-image: url("/static/images/ring.jpg");
    height:150px;
    /* Add height to see the background image */
    width: 100%;
    /* You can adjust the width as needed */
    background-size:cover;
    /* Ensure the image covers the div */
    background-position: center center;
    /* Center the image */
   
    border: 1px solid black;
    border-radius: 12px;
}

.pic4{
    background-image: url("/static/images/resort.jpg");
    
    /* Add height to see the background image */
    width: 100%;
    /* You can adjust the width as needed */
    background-size:cover;
    /* Ensure the image covers the div */
    background-position: center center;
    /* Center the image */
    height:320px;
    border: 1px solid black;
    border-radius: 12px;
    
}



/* Accor section */
.accordion-body {
    background-color: rgba(255, 0, 0, 0.1) !important;
    color: #212529;             /* Text color black */
}
.accordion-button {
    background-color: rgba(255, 0, 0, 0.1) !important;
    color:black !important;
                   /* Text color white */
}

.accordion-item {
    border: 1px solid #343a40 !important;  /* Dark border around accordion */
    margin-bottom: 20px;        /* Space between accordion items */
}

.accordion-button:focus {
    box-shadow: none !important;
}
.accordion-header {
    color: #F01111 !important;  /* Default heading color */
    font-weight: bold;
    transition: color 0.3s ease;  /* Smooth transition */
}
.accordion-button:not(.collapsed) {
    color:#F01111 !important;  /* Color of heading when expanded */
    font-weight: bold !important;
}
.btn{
    background-color: #F01111 !important;
    color:white !important ;
    
}
.btn:hover{
    background-color: rgba(255, 0, 0, 0.7) !important;
    transition: background-color 0.5s ease;
}
.custom-input {
    border: 1px solid black  !important;
    box-shadow: none !important; /* Remove the default shadow */

}

/* email section */

#exampleInputEmail1 {
    background-color: rgba(255, 0, 0, 0) !important;
    border: 1px solid black !important; /* Solid black border */
    box-shadow: none !important; /* Remove the default Bootstrap shadow */
   
  }