{% extends 'App/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}">
    <title>About</title>
</head>

<body>
    <div class="container my-5" style="text-align: justify;">
        <h1 class="text-center my-5" style="color: #f01111;">Who we are </h1>
        <div class="row my-5 gx-5">
            <div class="col-md-6  my-5">
                <div class="pic1">

                </div>
            </div>
            <div class="col-md-6" style="align-items: end; justify-content: end;">
                <div class="text my-5 ">
                    <h3>Our Mision</h3>
                    <p class="my-5"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, reiciendis iste. Consequuntur
                        asperiores aperiam adipisci voluptatibus ipsum maxime atque perspiciatis, quo ullam similique
                        quaerat illum nulla aut ipsam, expedita doloribus?</p>
                </div>
            </div>
        </div>
    </div>



    <div class="container my-5 " style="text-align: justify;">

        <div class="row my-5 gx-5">

            <div class="col-md-6  my-5">
                <div class="text my-5">
                    <h3 >Our Purpose</h3>
                    <p class="my-5"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, reiciendis iste. Consequuntur
                        asperiores aperiam adipisci voluptatibus ipsum maxime atque perspiciatis, quo ullam similique
                        quaerat illum nulla aut ipsam, expedita doloribus?</p>
                   
                </div>
            </div>
            <div class="col-md-6  " style="justify-content: flex-end; display: flex;">
                <div class="pic2 d-flex justify-content-center align-items-end">

                </div>
            </div>

        </div>
    </div>
    </div>
    <div class="container my-5" style="text-align: justify;">
     
        <div class="row my-5 gx-5">
            <div class="col-md-6 ">
                <div class="pic1">

                </div>
            </div>
            <div class="col-md-6" style="align-items: end; justify-content: end;">
                <div class="text my-5 ">
                    <h3>Our Story</h3>
                    <p class="my-5"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, reiciendis iste. Consequuntur
                        asperiores aperiam adipisci voluptatibus ipsum maxime atque perspiciatis, quo ullam similique
                        quaerat illum nulla aut ipsam, expedita doloribus?</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

{% endblock %}