{% extends 'App/base.html' %}
{% load static %}

{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
    <link rel="stylesheet" href="/static/css/analysis.css">
</head>

<body>
    <div class="container-fluid my-5">
        <h3 style="color: #F01111;text-align: center;">What can i help you with?</h3>
        <form class="row justify-content-center align-items-center my-3">
            <!-- Search input group -->
            <div class="col-md-5 my-2">
                <div class="input-group">
                    <!-- Search input field -->
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Search">
                    <!-- Search button inside the input field -->
                    <button type="submit" class="btn">Search</button>
                </div>
            </div>
        </form>

    </div>

    <div class=" container my-5  justify-content-center  " style="width: 50%;">


        <div class="row gx-3 gy-3" style="justify-content: center;">
            <!-- Left side div (spans 4 columns) -->
            <div class="  col-md-3">
                <div class="pic1">

                </div>
            </div>

            <!-- Right side div (spans 8 columns) -->
            <div class="col-md-6  justify-content-center">
                <div class="row gx-3 g-3">
                    <div class="col-md-12 ">
                        <!-- Add content as necessary -->
                        <div class="row gy-3">
                            <div class="  col-md-12  ">
                                <div class="pic2">

                                </div>
                            </div>
                            <div class=" col-md-6 ">
                                <div class="pic3">

                                </div>
                            </div>
                            <div class=" col-md-6">
                                <div class="pic3">

                                </div>
                            </div>
                        </div>
                    </div>

                   

                </div>
            </div>
            <div class="col-md-3  ">


                <div class="pic4 ">

                </div>
            </div>
        </div>
    </div>
</body>

</html>
{% endblock %}