{% extends 'App/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <div class="home-page">

        <h3>Understanding videos in second</h3>
        <p>Saving your time and get 99% of insights</p>
        <div class="edge">
            <button><img src="https://img.icons8.com/?size=100&id=63785&format=png&color=000000" alt="Google" width="40"
                    height="40"> Try for free on chrome</button>
            <button class="ms-4">edge</button>
        </div>
    </div>
</body>

</html>




{% endblock %}