{% extends 'App/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
    <title>Home</title>
</head>

<body>



    <!-- main image section -->
    <div class="container"></div>
    <div class="main-img ">
        <div class=" container">
            <h2 class="hdng ">Unleash the power of travel videos with Travel Trek</h2>
            <p style="color: black;"> Discover New Destinations Today!</p>



            <div class="edge">
                <button class="chrome-btn">
                    <img src="https://img.icons8.com/?size=100&id=63785&format=png&color=000000" alt="Google" width="40"
                        height="40"> Start Exploring Now</button>
                <button class=" edge-btn ms-4"> <img
                        src="https://img.icons8.com/?size=100&id=dGm9KIZPpukc&format=png&color=000000" width="40"
                        height="40" alt=""></button>
            </div>
        </div>
    </div>

    <div class="container my-5 ">
        <div class="row gx-5 gy-4 justify-content-center">
            <!-- Added gx-5 for gap between columns and gy-4 for row spacing -->
            <div class="col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
                <img src="/static/images/icons/thunder.png" width="30" height="30" alt="">
                <h2 class="my-4">Automated Insights</h2>
                <p style="text-align: center;">Get in-depth insights in seconds from long videos</p>
            </div>
            <div class="col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
                <img src="/static/images/icons/heart.png" width="30" height="30" alt="">
                <h2 class="my-4">Thorough Understanding</h2>
                <p style="text-align: center;">Master Knowledge from videos of your choice</p>
            </div>
            <div class="col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
                <img src="/static/images/icons/message.png" width="30" height="30" alt="">
                <h2 class="my-4">Interactive <br>Q&A</h2>
                <p style="text-align: center;">Learning Faster and Deeper via Quering</p>
            </div>
            <div class="col-md-3 d-flex flex-column justify-content-center align-items-center text-center">
                <img src="/static/images/icons/scissor.png" width="30" height="30" alt="">
                <h2 class="my-4">Access Guides</h2>
                <p style="text-align: center;">Leverage the power of LangChain to generate guides</p>
            </div>
        </div>
    </div>



    <div class="container my-5">
        <h3 style="font-weight:bold" class="text-center my-5">Use Cases</h3>
        <div class="row gx-4 gy-5"> <!-- gx-* for horizontal gap, gy-* for vertical gap -->
            <div class="col-md-6 ">
                <div class="p-4 " style="border: 1px solid black; border-radius: 10px;">
                    <div class="inside ">
                        <img src="/static/images/icons/laptop.png" height="35" width="35">
                        <h5>Travel Planning Made Easy</h5>
                    </div>
                    <p class="mx-5 m-2">Get instant summaries of travel vlogs and videos.</p>
                    <button class="ms-5 my-3">Get Started</button>
                </div>
            </div>

            <div class="col-md-6">
                <div class="p-4 " style="border: 1px solid black; border-radius: 10px;">
                    <div class="inside ">
                        <img src="/static/images/icons/talk.png" height="35" width="35">
                        <h5>Research Companion</h5>
                    </div>

                    <p class="mx-5 m-2">Uncover hidden gems and tips from travel videos.</p>
                    <button class="ms-5 my-3">Get Started</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-4 " style="border: 1px solid black; border-radius: 10px;">
                    <div class="inside ">
                        <img src="/static/images/icons/think.png" height="35" width="35">
                        <h5>Content Creation boost</h5>
                    </div>
                    <p class="mx-5 m-2">Supercharge your travel blog with AI.</p>
                    <button class="ms-5 my-3">Get Started</button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-4 " style="border: 1px solid black; border-radius: 10px;">
                    <div class="inside ">
                        <img src="/static/images/icons/confo.png" height="35" width="35">
                        <h5>Accessible Travel Information</h5>
                    </div>
                    <p class="mx-5 m-2">Travelers with limited time get quic video summaries.</p>
                    <button class="ms-5 my-3">Get Started</button>
                </div>
            </div>
        </div>
    </div>



    </div>
    <div class=" container my-3  " style="width: 50%;">
        <h3 class="text-center my-5" style="font-weight:bold">Top Destination</h3>

        <div class="row gx-3 gy-3" style="justify-content: center;">
            <!-- Left side div (spans 4 columns) -->
            <div class="  col-md-3">
                <div class="pic1">

                </div>
            </div>

            <!-- Right side div (spans 8 columns) -->
            <div class="col-md-6  justify-content-center">
                <div class="row gx-3 g-3">
                    <div class="col-md-12 ">
                        <!-- Add content as necessary -->
                        <div class="row gy-3">
                            <div class="  col-md-12  ">
                                <div class="pic2">

                                </div>
                            </div>
                            <div class=" col-md-6 ">
                                <div class="pic3">

                                </div>
                            </div>
                            <div class=" col-md-6">
                                <div class="pic3">

                                </div>
                            </div>
                        </div>
                    </div>



                </div>
            </div>
            <div class="col-md-3  ">


                <div class="pic4 ">

                </div>
            </div>
        </div>
    </div>

    <!-- Frequently Asked Questions -->
    <div class="container my-5">
        <h2 class="text-center ">Frequently Asked Questions</h2>

        <div class="accordion my-5" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        FAQ 1: What type of videos can I summarize on this platform?
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>YouTube Videos</strong> Our platform supports summarization of YouTube travel videos.
                        Simply input the YouTube video link, and our AI-driven system will transcribe, summarize, and
                        allow you to query the video content.

                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        FAQ 2: How accurate are the video summaries and query responses?
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Using LangChain</strong> Our platform utilizes state-of-the-art LangChain
                        library for transcription and large language models (LLMs) for summary generation and query
                        processing. While we strive for high accuracy, results may vary depending on video audio
                        quality, accent, or technical terms.
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        Can I ask follow-up questions related to the video summary?
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <strong>Yes! You can.</strong> Our query feature allows you to ask specific questions related to
                        the video content. Our LLM will process your query and generate a response by extracting
                        relevant information from the transcription or summarization.
                    </div>
                </div>
            </div>
        </div>


    </div>



    <div class="container my-5">
        <h2 class="hdng">Try free for now </h2>
        <!-- <p> Your Copilot to Save your time and get 99% of insights</p> -->
        <div class="edge my-5">
            <button class="chrome-btn">
                <img src="https://img.icons8.com/?size=100&id=63785&format=png&color=000000" alt="Google" width="40"
                    height="40"> Try for free on chrome</button>
            <button class=" edge-btn ms-4"> <img
                    src="https://img.icons8.com/?size=100&id=dGm9KIZPpukc&format=png&color=000000" width="40"
                    height="40" alt=""></button>
        </div>
    </div>

    <div class="container d-flex justify-content-center align-items-center ">
        <h1 class="my-5 d-flex text-center" style="width: 50%;">Subscribe to our news letter and get all updates and
            news about Travel Trek</h1>

    </div>

    <div class="container">
        <form class="row justify-content-center align-items-center">
            <!-- Email input field -->
            <div class="col-md-5 my-4">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Email">
            </div>

            <!-- Button -->
            <div class="col-auto my-4">
                <button type="submit" class="btn ">Confirm identity</button>
            </div>
        </form>
    </div>


    <!-- <div class="grid">
        <h3 style="font-weight:bold" class="text-center">Use Cases</h3>
        <div class="row ">
            <div class=" g-col-6 ">
                <img src="/static/images/icons/thunder.png" height="30" width="30">

                <div class="inside">

                    <h4>Courses</h4>
                    <p>Get Notes and answers from Youtube and Khan Acsdemy videos</p>
                    <button style="justify-content: center;">hello button</button>
                </div>

            </div>
            <div class="g-col-6">

                <img src="/static/images/icons/heart.png" height="30" width="30">
                <div class="inside">
                    <h4>Courses</h4>
                    <p>Get Notes and answers from Youtube and Khan Acsdemy videos</p>
                    <button style="justify-content: center;">hello button</button>
                </div>
            </div>
        </div>
        <div class="grid">
            <div class="g-col-6">

                <img src="/static/images/icons/heart.png" height="30" width="30">
                <div class="inside">
                    <h4>Courses</h4>
                    <p>Get Notes and answers from Youtube and Khan Acsdemy videos</p>
                    <button style="justify-content: center;">hello button</button>
                </div>

            </div>
            <div class="g-col-6">

                <img src="/static/images/icons/heart.png" height="30" width="30">
                <div class="inside">
                    <h4>Courses</h4>
                    <p>Get Notes and answers from Youtube and Khan Acsdemy videos</p>
                    <button style="justify-content: center;">hello button</button>
                </div>

            </div>


        </div> -->
    <script src="/static/js/base.js"></script>
</body>

</html>




{% endblock %}