
{% extends 'App/base.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
</body>
</html>

    <div class="home-page">

        <h3>Understanding videos in second</h3>
        <p>Saving your time and get 99% of insights</p>

        <div class="edge">
            <buttonn > <img src="" alt="">Try for free on chrome</button>
                <button>edge</button>
        </div>
    </div>
{% endblock %}
